body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.bold{
	font-weight: bold;
}

.row{ 
    max-width: 75.5rem;
	.row{
		margin: 0;
	}
}

.lateral_menu ul{
	list-style: none
}

body .main-wrapper{

	#writteninput{
		display: none;
	}

	.result, .original{
		word-wrap: break-word;
		padding-bottom: 1rem;
	}

	.result.default{
		background-color: #1B1918;
		color: white;
		h1,h2,h3,h4,h5,h6{
			color: white;
		}
		.cmm{
			color: #766E6B;		
			font-style: italic;
		}	

		.id_comment{
			color: #7B9726;
		}

		.var{
			color: #407EE7;
		}

		.res_word{
			font-weight: bold;
			color: #C33FF3;
		}

		.num_int, .num_float, .num_hex{
			color: #DF5320;
		}

		.eof{
			color: white;
			font-weight: bold
		}

		.str{
			color: #F22C40;
		}

		.art_ope{
			color: #40E77B
		}
	}

	.result.oblivion{
		background-color: #1E1E1E;
		color: white;
		h1,h2,h3,h4,h5,h6{
			color: white;
		}
		.cmm{
			color: #C7DD0C;
			font-style: italic;
		}	

		.id_comment{
			color: #EFC090;
		}

		.var{
			color: #79ABFF;
		}

		.res_word{
			font-weight: bold;
			color: #D25252;
		}

		.num_int, .num_float, .num_hex{
			color: #7FB347;
		}

		.eof{
			color: #D197D9;
			font-weight: bold
		}

		.str{
			color: #FFC600;
		}

		.art_ope{
			color: #40E77B
		}
	}

	.result.roboticket{
		background-color: #F5F5F5;
		color: black;
		h1,h2,h3,h4,h5,h6{
			color: black;
		}
		.cmm{
			color: #AD95AF;
			font-style: italic;
		}	

		.id_comment{
			color: #295F94;
		}

		.var{
			color: #55aa55;
		}

		.res_word{
			font-weight: bold;
			color: #AB2525;
		}

		.num_int, .num_float, .num_hex{
			color: #AF0F91;
		}

		.eof{
			color: #FFCFBB;
			font-weight: bold
		}

		.str{
			color: #317ECC;
		}

		.art_ope{
			color: #885D3B;
		}
	}

	.result.solarized{
		background-color: #FDF6E3;
		color: #596D73;
		h1,h2,h3,h4,h5,h6{
			color: #596D73;
		}
		.cmm{
			color: #586E75;
			font-style: italic;
		}	

		.id_comment{
			color: #93A1A1;
		}

		.var{
			color: #657A81;
		}

		.res_word{
			font-weight: bold;
			color: #B58900;
		}

		.num_int, .num_float, .num_hex{
			color: #2AA198;
		}

		.eof{
			color: #D33682;
			font-weight: bold
		}

		.str{
			color: #2AA198;
		}

		.art_ope{
			color: #00FF00;
		}
	}

	.result.notepad{
		background-color: #FFFFFF;
		color: black;
		h1,h2,h3,h4,h5,h6{
			color: black;
		}
		.cmm{
			color: #008000;
			font-style: italic;
		}	

		.id_comment{
			color: #800080;
		}

		.var{
			color: #000080;
		}

		.res_word{
			font-weight: bold;
			color: #0000FF;
		}

		.num_int, .num_float, .num_hex{
			color: #FF8000;
		}

		.eof{
			color: #885d3b;
			font-weight: bold
		}

		.str{
			color: #808080;
		}

		.art_ope{
			color: #8000FF;
		}
	}

	.result.retta{
		background-color: #000000;
		color: #F8E1AA;
		h1,h2,h3,h4,h5,h6{
			color: #F8E1AA;
		}
		.cmm{
			color: #83786E;
			font-style: italic;
		}	

		.id_comment{
			color: #DE6546;
		}

		.var{
			color: #FFFF00;
		}

		.res_word{
			font-weight: bold;
			color: #E79E3C;
		}

		.num_int, .num_float, .num_hex{
			color: #D6C248;
		}

		.eof{
			color: #FFFF00;
			font-weight: bold
		}

		.str{
			color: #D6C248;
		}

		.art_ope{
			color: #A4B0C0;
		}
	}

	.result.monokai{
		background-color: #272822;
		color: white;
		h1,h2,h3,h4,h5,h6{
			color: white;
		}
		.cmm{
			color: #D9E577;
			font-style: italic;
		}	

		.id_comment{
			color: #75715e;
		}

		.var{
			color: #79ABFF;
		}

		.res_word{
			font-weight: bold;
			color: #66CCB3;
		}

		.num_int, .num_float, .num_hex{
			color: #7FB347;
		}

		.eof{
			color: #75715e;
			font-weight: bold
		}

		.str{
			color: #E6DB74;
		}

		.art_ope{
			color: #D8D8D8;
		}
	}
}