<footer class="row">
	<div class="large-12 columns">
		<hr/>
		<div class="row">
			<div class="large-6 columns">
				<p>Autor: Sebastián Alarcón Ramos.</p>
			</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<% include ./links.ejs %>
				</ul>
			</div>
		</div>
	</div> 
</footer>