<title><%= title %> <%= subtitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="PostScript Lexical Analyzer">
<meta name="author" content="Sebastián Alarcón" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>