<div class="row">
	<div class="large-3 columns">
		<a href="/">
			<h1>
				<img src="./images/pslogo.gif"/>
				<p class="text-center bold">Analizador Léxico</p>
			</h1>
		</a>

	</div>
	<div class="large-9 columns">
		<ul class="inline-list right">
			<% include ./links.ejs %>
		</ul>
	</div>
</div>