<div class="large-3 pull-9 columns lateral_menu">
	<ul class="right">
		<li class="bold">Presentado por: </li>
		<li>Sebastián Alarcón</li>
		<li class="bold">Programa: </li>
		<li>Ingeniería de Sistemas y Computación</li>
		<li class="bold">Presentado a: </li>
		<li> Felipe Restrepo Calle</li>
		<li class="bold">Asignatura: </li>
		<li>Lenguajes de programación</li>
		<li><br></li>
		<li><br></li>
		<li>Departamento de Ingeniería de Sistemas e Industrial.</li>
		<li>Facultad de Ingeniería.</li>
		<li>Universidad Nacional de Colombia.</li>
	</ul>
</div>