<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
	</head>
	<body>
		
		<% include ./partials/header.ejs %>

		<div class="row main-wrapper">
			<div class="large-9 push-3 columns">

				<h3><%= title %> <small><%= subtitle %></small></h3>

				<p class="text-justify">
					Este proyecto tiene fines netamente académicos y pone en práctica las temáticas asociadas a la asingatura Lenguajes de Programación
				</p>

				<p class="text-justify">
					Se trata de una aplicación que recibe como entrada el código fuente de un programa escrito en el lenguaje de programación <a href="https://www.adobe.com/products/postscript/pdfs/PLRM.pdf" target="_blank"><b>PostScript</b></a> y tiene como objetivo visualizar dicho código de una mejor manera, resaltando las palabras reservadas del lenguaje, los números, y otros elementos léxicos
				</p>

				<p>
					La aplicación tiene las siguientes funcionalidades:
					<br>
					<ul>
						<li class="text-justify">El programa recibirá una de las siguientes entradas</li>
						<ul>
							<li class="text-justify">Un archivo de texto con código PostScript y en formato (*.ps)</li>
							<li class="text-justify">O código escrito por el usuario usando una entrada de texto</li>
						</ul>
						<li class="text-justify">Se generará un salida en HTML la cual podrá ser vista en la página y el usuario tendrá la posibilidad de descargar dicha salida en un archivo de texto en formato (.html).</li>
						<li>Esta salida en formato HTML tendrá un formato predefinido para destacar en diferentes colores los elementos que hacen parte de la sintaxis del lenguaje PostScript</li>
						<li>El analizador léxico identifica y valida los lexemas presentes en el código PostScript de entrada, y a medida que va haciendo dicho análisis, genera el código HTML correspondiente.</li>
						<li>Adicional a esto, si el usuario desea ver un archivo previamente construido con esta herramienta (En formato .html), puede subirlo a la plataforma para ser renderizado y visto por el usurio</li>
						<li>Una vez generada una salida, el usuario podrá visualizarla en diferentes esquemas de color predefinidos</li>
					</ul>
				</p>                
			</div>
        
        	<% include ./partials/lateral_menu.ejs %>
		</div>

		<% include ./partials/footer.ejs %>
	</body>
</html>