<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
		<script src="/javascripts/lexanalyzer.js"></script>
	</head>
	<body>
		
		<% include ./partials/header.ejs %>

		<div class="row main-wrapper">
			<div class="large-9 push-3 columns">

				<h3><%= title %> <small><%= subtitle %></small></h3>
				<p class="text-justify">
					Para la entrada de la aplicación puede escribir el código en PostScript o bien puede subir un archivo con la extensión (*.ps)
					<br><br>
					<input type="radio" name="inputType" value="upload" checked id="uploadRadio">
					<label for="uploadRadio">Subir archivo</label>
					<input type="radio" name="inputType" value="write" id="writeRadio">
					<label for="writeRadio">Escribir código</label>
					<div id="uploadinput">
						<form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
							<input type="file" name="code" accept=".ps" required>
							<input type="submit" class="button radius tiny" value="Analizar">
						</form>	
					</div>
					<div id="writteninput">
						<form action="" method="post">
							<textarea class="radius" name="code" placeholder="Ingrese aquí el código en PostScript" rows="20" required></textarea>
							<input type="submit" class="button radius tiny" value="Analizar">
						</form>	
					</div>
				</p>            
			</div>
        
        	<% include ./partials/lateral_menu.ejs %>
		</div>
		<% include ./partials/footer.ejs %>
	</body>
</html>