<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
		<script src="/javascripts/lexanalyzer.js"></script>
	</head>
	<body>
		<% include ./partials/header.ejs %>
		<div class="row main-wrapper">
			<div class="large-9 push-3 columns">

				<h3><%= title %> <small><%= subtitle %></small></h3>
				<div class="row">
					Este es el archivo generado, con el siguiente selector podrá escoger el esquema de color con el que desee ver el texto resaltado:
					<br>
					<br>
					<div class="row">
						<div class="columns large-4 end">
							<select class="radius" id="schemecolor">
								<option value="default">Default</option>
								<option value="oblivion">Oblivion Based</option>
								<option value="roboticket">Roboticket Based</option>
								<option value="solarized">Solarized Based</option>
								<option value="notepad">Notepad++ Based</option>
								<option value="retta">Retta Based</option>
								<option value="monokai">Monokai Based</option>
							</select>	
						</div>
					</div>
					<hr>
					<br>
					<br>
					<div class="result default large-12 columns">
						<h4>Texto Resaltado</h4>
						<%- output %>
					</div>
				</div>
			</div>
        
        	<% include ./partials/lateral_menu.ejs %>
		</div>
		<% include ./partials/footer.ejs %>
	</body>
</html>