<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
		<script src="/javascripts/lexanalyzer.js"></script>
	</head>
	<body>
		
		<% include ./partials/header.ejs %>

		<div class="row main-wrapper">
			<div class="large-9 push-3 columns">

				<h3><%= title %> <small><%= subtitle %></small></h3>
				<p class="text-justify">
					Aquí puede subir un archivo en html generado por esta aplicación para visualizarlo.
					<br><br>
					<div id="uploadinput">
						<form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
							<input type="file" name="code" accept=".html" required>
							<input type="submit" class="button radius tiny" value="Visualizar">
						</form>	
					</div>
				</p>            
			</div>
        
        	<% include ./partials/lateral_menu.ejs %>
		</div>
		<% include ./partials/footer.ejs %>
	</body>
</html>