body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.bold {
  font-weight: bold; }

.row {
  max-width: 75.5rem; }
  .row .row {
    margin: 0; }

.lateral_menu ul {
  list-style: none; }

body .main-wrapper #writteninput {
  display: none; }

body .main-wrapper .result, body .main-wrapper .original {
  word-wrap: break-word;
  padding-bottom: 1rem; }

body .main-wrapper .result.default {
  background-color: #1B1918;
  color: white; }
  body .main-wrapper .result.default h1, body .main-wrapper .result.default h2, body .main-wrapper .result.default h3, body .main-wrapper .result.default h4, body .main-wrapper .result.default h5, body .main-wrapper .result.default h6 {
    color: white; }
  body .main-wrapper .result.default .cmm {
    color: #766E6B;
    font-style: italic; }
  body .main-wrapper .result.default .id_comment {
    color: #7B9726; }
  body .main-wrapper .result.default .var {
    color: #407EE7; }
  body .main-wrapper .result.default .res_word {
    font-weight: bold;
    color: #C33FF3; }
  body .main-wrapper .result.default .num_int, body .main-wrapper .result.default .num_float, body .main-wrapper .result.default .num_hex {
    color: #DF5320; }
  body .main-wrapper .result.default .eof {
    color: white;
    font-weight: bold; }
  body .main-wrapper .result.default .str {
    color: #F22C40; }
  body .main-wrapper .result.default .art_ope {
    color: #40E77B; }

body .main-wrapper .result.oblivion {
  background-color: #1E1E1E;
  color: white; }
  body .main-wrapper .result.oblivion h1, body .main-wrapper .result.oblivion h2, body .main-wrapper .result.oblivion h3, body .main-wrapper .result.oblivion h4, body .main-wrapper .result.oblivion h5, body .main-wrapper .result.oblivion h6 {
    color: white; }
  body .main-wrapper .result.oblivion .cmm {
    color: #C7DD0C;
    font-style: italic; }
  body .main-wrapper .result.oblivion .id_comment {
    color: #EFC090; }
  body .main-wrapper .result.oblivion .var {
    color: #79ABFF; }
  body .main-wrapper .result.oblivion .res_word {
    font-weight: bold;
    color: #D25252; }
  body .main-wrapper .result.oblivion .num_int, body .main-wrapper .result.oblivion .num_float, body .main-wrapper .result.oblivion .num_hex {
    color: #7FB347; }
  body .main-wrapper .result.oblivion .eof {
    color: #D197D9;
    font-weight: bold; }
  body .main-wrapper .result.oblivion .str {
    color: #FFC600; }
  body .main-wrapper .result.oblivion .art_ope {
    color: #40E77B; }

body .main-wrapper .result.roboticket {
  background-color: #F5F5F5;
  color: black; }
  body .main-wrapper .result.roboticket h1, body .main-wrapper .result.roboticket h2, body .main-wrapper .result.roboticket h3, body .main-wrapper .result.roboticket h4, body .main-wrapper .result.roboticket h5, body .main-wrapper .result.roboticket h6 {
    color: black; }
  body .main-wrapper .result.roboticket .cmm {
    color: #AD95AF;
    font-style: italic; }
  body .main-wrapper .result.roboticket .id_comment {
    color: #295F94; }
  body .main-wrapper .result.roboticket .var {
    color: #55aa55; }
  body .main-wrapper .result.roboticket .res_word {
    font-weight: bold;
    color: #AB2525; }
  body .main-wrapper .result.roboticket .num_int, body .main-wrapper .result.roboticket .num_float, body .main-wrapper .result.roboticket .num_hex {
    color: #AF0F91; }
  body .main-wrapper .result.roboticket .eof {
    color: #FFCFBB;
    font-weight: bold; }
  body .main-wrapper .result.roboticket .str {
    color: #317ECC; }
  body .main-wrapper .result.roboticket .art_ope {
    color: #885D3B; }

body .main-wrapper .result.solarized {
  background-color: #FDF6E3;
  color: #596D73; }
  body .main-wrapper .result.solarized h1, body .main-wrapper .result.solarized h2, body .main-wrapper .result.solarized h3, body .main-wrapper .result.solarized h4, body .main-wrapper .result.solarized h5, body .main-wrapper .result.solarized h6 {
    color: #596D73; }
  body .main-wrapper .result.solarized .cmm {
    color: #586E75;
    font-style: italic; }
  body .main-wrapper .result.solarized .id_comment {
    color: #93A1A1; }
  body .main-wrapper .result.solarized .var {
    color: #657A81; }
  body .main-wrapper .result.solarized .res_word {
    font-weight: bold;
    color: #B58900; }
  body .main-wrapper .result.solarized .num_int, body .main-wrapper .result.solarized .num_float, body .main-wrapper .result.solarized .num_hex {
    color: #2AA198; }
  body .main-wrapper .result.solarized .eof {
    color: #D33682;
    font-weight: bold; }
  body .main-wrapper .result.solarized .str {
    color: #2AA198; }
  body .main-wrapper .result.solarized .art_ope {
    color: #00FF00; }

body .main-wrapper .result.notepad {
  background-color: #FFFFFF;
  color: black; }
  body .main-wrapper .result.notepad h1, body .main-wrapper .result.notepad h2, body .main-wrapper .result.notepad h3, body .main-wrapper .result.notepad h4, body .main-wrapper .result.notepad h5, body .main-wrapper .result.notepad h6 {
    color: black; }
  body .main-wrapper .result.notepad .cmm {
    color: #008000;
    font-style: italic; }
  body .main-wrapper .result.notepad .id_comment {
    color: #800080; }
  body .main-wrapper .result.notepad .var {
    color: #000080; }
  body .main-wrapper .result.notepad .res_word {
    font-weight: bold;
    color: #0000FF; }
  body .main-wrapper .result.notepad .num_int, body .main-wrapper .result.notepad .num_float, body .main-wrapper .result.notepad .num_hex {
    color: #FF8000; }
  body .main-wrapper .result.notepad .eof {
    color: #885d3b;
    font-weight: bold; }
  body .main-wrapper .result.notepad .str {
    color: #808080; }
  body .main-wrapper .result.notepad .art_ope {
    color: #8000FF; }

body .main-wrapper .result.retta {
  background-color: #000000;
  color: #F8E1AA; }
  body .main-wrapper .result.retta h1, body .main-wrapper .result.retta h2, body .main-wrapper .result.retta h3, body .main-wrapper .result.retta h4, body .main-wrapper .result.retta h5, body .main-wrapper .result.retta h6 {
    color: #F8E1AA; }
  body .main-wrapper .result.retta .cmm {
    color: #83786E;
    font-style: italic; }
  body .main-wrapper .result.retta .id_comment {
    color: #DE6546; }
  body .main-wrapper .result.retta .var {
    color: #FFFF00; }
  body .main-wrapper .result.retta .res_word {
    font-weight: bold;
    color: #E79E3C; }
  body .main-wrapper .result.retta .num_int, body .main-wrapper .result.retta .num_float, body .main-wrapper .result.retta .num_hex {
    color: #D6C248; }
  body .main-wrapper .result.retta .eof {
    color: #FFFF00;
    font-weight: bold; }
  body .main-wrapper .result.retta .str {
    color: #D6C248; }
  body .main-wrapper .result.retta .art_ope {
    color: #A4B0C0; }

body .main-wrapper .result.monokai {
  background-color: #272822;
  color: white; }
  body .main-wrapper .result.monokai h1, body .main-wrapper .result.monokai h2, body .main-wrapper .result.monokai h3, body .main-wrapper .result.monokai h4, body .main-wrapper .result.monokai h5, body .main-wrapper .result.monokai h6 {
    color: white; }
  body .main-wrapper .result.monokai .cmm {
    color: #D9E577;
    font-style: italic; }
  body .main-wrapper .result.monokai .id_comment {
    color: #75715e; }
  body .main-wrapper .result.monokai .var {
    color: #79ABFF; }
  body .main-wrapper .result.monokai .res_word {
    font-weight: bold;
    color: #66CCB3; }
  body .main-wrapper .result.monokai .num_int, body .main-wrapper .result.monokai .num_float, body .main-wrapper .result.monokai .num_hex {
    color: #7FB347; }
  body .main-wrapper .result.monokai .eof {
    color: #75715e;
    font-weight: bold; }
  body .main-wrapper .result.monokai .str {
    color: #E6DB74; }
  body .main-wrapper .result.monokai .art_ope {
    color: #D8D8D8; }
